// vars
:root {
    --font-size-pc: 16px;
    --color-white: #fff;
    --color-accent-brown: #AD8F49;
    --color-text: #05172F;
    --color-dark-blue: #0A2347;
    --color-accent-dark-blue: #002349;
}