<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row-fot">
                <div class="fot-left">
                    <div class="fot-logo">
                        <a href="#">
                            <img src="img/logo-header.svg" alt="Website logo" />
                        </a>
                    </div>
                    <div class="fot-priv">
                        <a href="#">Privacy Policy</a>
                    </div>
                </div>
                <div class="f-menu">
                    <a href="#">Home</a>
                    <a href="#">about us</a>
                    <a href="/portfolio.html">portfolio</a>
                    <a href="/services.html">services</a>
                    <a href="#">our difference</a>
                    <a href="#">contact us</a>
                </div>
                <div class="f-contact">
                    <p>305.704.9787</p>
                    <a href="#">
                        <svg>
                            <use xlink:href="icons/sprite.svg#i-address" />
                        </svg>
                        <span>3250 Mary Street, Suite 520
                            Coconut Grove, FL 33133</span>
                    </a>
                    <a href="#">
                        <svg>
                            <use xlink:href="icons/sprite.svg#i-phone" />
                        </svg>
                        <span>Phone</span>
                    </a>
                    <a href="#">
                        <svg>
                            <use xlink:href="icons/sprite.svg#i-email" />
                        </svg>
                        <span>E-mail</span>
                    </a>
                </div>
                <div class="fot-social">
                    <a href="#">
                        <svg>
                            <use xlink:href="icons/sprite.svg#soc-f" />
                        </svg>
                    </a>
                    <a href="#">
                        <svg>
                            <use xlink:href="icons/sprite.svg#soc-inst" />
                        </svg>
                    </a>
                    <a href="#">
                        <svg>
                            <use xlink:href="icons/sprite.svg#soc-in" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <div class="footer_inscription FreightDispProBook">GIBSON </div>
    </div>
    <div class="footer_bot">
        <p>Copyright © 2025 Gibson CRE. All Rights Reserved.</p>
    </div>
</footer>