<header class="header js-header">
    <div class="container">
        <div class="header_row">
            <div class="header_logo">
                <a href="/">
                    <img src="img/logo-header.svg" alt="Website logo" />
                    <img src="img/logo-header-black.svg" alt="Website logo" />
                </a>
            </div>
            <div class="mob-none">
                <nav class="header_menu">
                    <a href="/about.html">about us <span></span> <span></span></a>
                    <a href="/services.html">Services <span></span> <span></span></a>
                    <a href="/portfolio.html">portfolio <span></span> <span></span></a>
                    <a href="/our-defference.html">our difference <span></span> <span></span></a>
                </nav>
            </div>
            <div class="mob-none">
                <button class="bnt-def bnt-def_header js-btn-open-modal">
                    <i>
                        <svg>
                            <use xlink:href="icons/sprite.svg#line-btn" />
                        </svg>
                    </i>
                    <span>Contact us</span></button>
            </div>

            <div class="burger-menu js-burger">
                <span></span>
            </div>
        </div>
    </div>
</header>

<div class="mob-menu js-mob-menu">
    <div class="mob-menu_wr">
        <div class="mob_ul">
            <ul>
                <li>
                    <a href="#">about us</a>
                </li>
                <li>
                    <a href="#">services</a>
                </li>
                <li>
                    <a href="#">portfolio</a>
                </li>
                <li>
                    <a href="#">our difference</a>
                </li>
            </ul>
            
        </div>
        <div class="lin-left"><span></span></div>
        <div class="mob-menu-bot">
            <div class="mob-social">
                <a href="#">
                    <svg>
                        <use xlink:href="icons/sprite.svg#soc-f" />
                    </svg>
                </a>
                <a href="#">
                    <svg>
                        <use xlink:href="icons/sprite.svg#soc-inst" />
                    </svg>
                </a>
                <a href="#">
                    <svg>
                        <use xlink:href="icons/sprite.svg#soc-in" />
                    </svg>
                </a>
            </div>

            <div class="mob-contacts">
                <p>305.704.9787</p>
                <a href="#">
                    <svg>
                        <use xlink:href="icons/sprite.svg#i-address" />
                    </svg>
                    <span>3250 Mary Street, Suite 520
                        Coconut Grove, FL 33133</span>
                </a>
                <a href="#">
                    <svg>
                        <use xlink:href="icons/sprite.svg#i-phone" />
                    </svg>
                    <span>Phone</span>
                </a>
                <a href="#">
                    <svg>
                        <use xlink:href="icons/sprite.svg#i-email" />
                    </svg>
                    <span>E-mail</span>
                </a>
            </div>

            <div class="mob-wr-btn">
                <button class="bnt-def bnt-def_bigger bnt-def_while js-btn-open-modal">
                    <i>
                        <svg>
                            <use xlink:href="icons/sprite.svg#line-btn" />
                        </svg>
                    </i>
                    <span>let’s talk!</span>
                </button>
            </div>
        </div>
    </div>
</div>