<header class="header js-header">
    <div class="container">
        <div class="header_row">
            <div class="header_logo">
                <a href="/">
                    <img src="img/logo-header.svg" alt="Website logo" />
                    <img src="img/logo-header-black.svg" alt="Website logo" />
                </a>
            </div>
            <div>
                <nav class="header_menu">
                    <a href="/about.html">about us <span></span> <span></span></a>
                    <a href="/services.html">Services <span></span> <span></span></a>
                    <a href="/portfolio.html">portfolio <span></span> <span></span></a>
                    <a href="/our-defference.html">our difference <span></span> <span></span></a>
                </nav>
            </div>
            <div>
                <button class="bnt-def bnt-def_header">
                    <i>
                        <svg>
                            <use xlink:href="icons/sprite.svg#line-btn" />
                        </svg>
                    </i>
                    <span>Contact us</span></button>
            </div>
        </div>
    </div>
</header>